<div class="container">
  <div class="booking-page">
    <div class="calendar_card">
      <h5> Please select up to <%= @vouchers_as_a_student %> lessons</h5>
      <input type="text" class="datepicker invisible" >
      <div id="selected-timeslot-dates"></div>
    </div>
     <div class="right_form">
      <div class="booking-form form-wrapper" data-availabilities="<%= @availabilities.to_json %>">
        <h5><span id="voucher_count"><%= @vouchers_as_a_student %></span> vouchers left</h5>
        <%= form_with(url:  update_associated_timeslots_path, method: "patch") do |f| %>
          <%= f.submit "Book now" , class: "btn btn-flat"%>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div id="booking-data" style="display: none;">
  <%= @booking_json %>
</div>





