<div class="home-banner" style="background-image: /*linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),*/ url('<%= image_path 'banner2.jpg' %>');">
  <div class="row justify-content-center">
    <h1>Find the best music teachers near you!</h1>
   <div class="search">

<div class="search-form-control form-group">
<%= form_tag teachers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Enter your address or postcode", class: "form-control string-required"
  %>
  </div>
  <%= button_tag(type: "submit", class: "btn btn-flat-search", style: "color: white;") do %>
    Search <i class="fas fa-search"></i>
    <% end %>
  </div>
<% end %>
  </div>
</div>
<br>
<br>
<div class="container">
  <h1 id="h1-home">Get started in 3 easy steps</h1>
  <div class="row justify-content-center">
    <!-- <div class="col-6"> -->

      <div class="circle-display">
        <div class="icon-card">
          <h2>Browse</h2>
          <div id="circle">
            <%= image_tag "search2.svg", class: "icons" %>
          </div>
          <p>Browse and select the best music teachers in your area according to your criteria and own preferences</p>
          <!-- <p>test 1</p> -->
          </div>
        <div class="icon-card">
          <h2>Book</h2>
          <div id="circle">
            <%= image_tag "iconfinder_booking.svg", class: "icons booking" %>
          </div>
          <p>Schedule and book your very first lesson, no cost added!</p>
          <!-- <p>test 2</p> -->
        </div>
        <div class="icon-card">
          <h2>Enjoy</h2>
           <div id="circle">
            <%= image_tag "iconfinder_note.svg", class: "icons note" %>
          </div>
          <p>Enjoy a great learning experience, you can track your lessons and performances from your dashboard</p>
        </div>
      </div>
      <br>
      <br>

      <!-- REVIEWS CARDS -->

       <div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="testimonial-bg">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <p class="description">
                             It was easy for me as a teacher to get students each month on the side as I started my freelance work. Nothing complicated and a beautiful interface.
                        </p>
                        <div class="pic">
                            <%= image_tag "Valerie.png" %>
                        </div>
                        <h3 class="title">Valerie,</h3>
                        <span class="post">Ukulele Teacher</span>
                    </div>

                    <div class="testimonial">
                        <p class="description">
                          Excellent platform for learning and teaching.
                          Thank you very much.
                        </p>
                        <div class="pic">
                            <%= image_tag "carina.jpg" %>
                        </div>
                        <h3 class="title">Carina,</h3>
                        <span class="post">Student</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  </div>
</div>


