<div class="home-banner" style="background-image: /*linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),*/ url('<%= image_path 'banner2.jpg' %>');">
  <h1>Find the best music teachers near you!</h1>
   <div class="search">
    <div class="search-form-control form-group">
<div class="search-form-control form-group">
<%= form_tag teachers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "city", class: "form-control string required"
  %>
  </div>
  </div>
  <%= button_tag(type: "submit", class: "btn btn-flat-search", style: "color: white;") do %>
    Search <i class="fas fa-search"></i>
<% end %>
<% end %>
  </div>
</div>
<br>
<br>
<div class="container">
  <h1 id="h1-home">Find the perfect music teacher in 3 easy steps</h1>
  <div class="row justify-content-center">
    <!-- <div class="col-6"> -->

      <div class="circle-display">
        <div class="icon-card">
          <h2>Browse</h2>
          <div id="circle">
            <%= image_tag "iconfinder_search.svg", class: "icons" %>
          </div>
          <p>Browse and select the best music teachers in your area according to your criteria and own preferences</p>
          <!-- <p>test 1</p> -->
          </div>
        <div class="icon-card">
          <h2>Book</h2>
          <div id="circle">
            <%= image_tag "iconfinder_booking.svg", class: "icons booking" %>
          </div>
          <p>Schedule and book your very first lesson, no cost added!</p>
          <!-- <p>test 2</p> -->
        </div>
        <div class="icon-card">
          <h2>Enjoy</h2>
           <div id="circle">
            <%= image_tag "iconfinder_note.svg", class: "icons note" %>
          </div>
          <p>Enjoy a great learning experience, you can track your lessons and performances from your dashboard</p>
        </div>
      </div>
      <br>
      <br>

      <!-- REVIEWS CARDS -->

       <div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="testimonial-bg">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <p class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                        <div class="pic">
                            <img src="http://www.webcoderskull.com/img/team2.png" alt="">
                        </div>
                        <h3 class="title">Manish,</h3>
                        <span class="post">Web Developer</span>
                    </div>

                    <div class="testimonial">
                        <p class="description">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                        <div class="pic">
                            <img src="http://www.webcoderskull.com/img/team1.png" alt="">
                        </div>
                        <h3 class="title">Kundan,</h3>
                        <span class="post">Front End Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  </div>
</div>


