
<div class="container">
<div class="upper-block">
<div class="search-index">
    <!-- <div class="search-form-control form-group"> -->
<div class="search-form-control form-group">
<%= form_tag teachers_path, method: :get do %>
  <%= text_field_tag :city,
    params[:city],
    placeholder: "Enter your address or postcode", class: "form-control string-required"
  %>
  </div>
<div class="search-form-control form-group">

   <%= text_field_tag :instrument,
    params[:instrument],
    placeholder: "Enter an instrument", class: "form-control string-required"
  %>
  </div>
  <%= button_tag(type: "submit", class: "btn btn-flat-search", style: "color: white;") do %>
    Search <i class="fas fa-search"></i>
<% end %>
<% end %>

  </div>
  <h2 id="h2-index" style="text-align: left">Woow, we found <%= @teachers.count%> awesome music teachers next to you! </h2>
<%# else %>

  </div>

<!-- <div class="h2-box" width="200px"> -->
 <%# if @teachers = @teachers.search_by_address(params[:query]) %>

<!-- <h2 id="h2-index" style="text-align: left">Oh no! We don't have any teacher in this city yet :( </h2> -->
<%# end %>
</div>
<!-- </div> -->
</div>

<div class="container d-flex">
  <div class="cards-index">
  <% @teachers.each do |teacher| %>
    <div id="login-container">
      <%= image_tag teacher.photo_url, class: "profile-img" %>
      <h2><%= teacher.first_name%></h2>
      <% teacher.instruments.each do |instrument| %>
              <h6><%= instrument.name.capitalize %> teacher</h6>
            <%end %>
      <% teacher.genres.each do |genre| %>
              <p>Genre: <%= genre.name %></p>
            <%end %>
      <div href="#" class="cta">
      <span><%= link_to "See Profile", teacher_path(teacher)%></span>
        <svg width="10px" height="7px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </div>
      <div class="social">
       <h5><%= teacher.price_per_hour %>€/h</h5>
      </div>
    </div>
  <% end %>
</div>
  <div class= "d-flex" id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      marker-color="$aqua">
  </div>

</div>

<script>initMapbox()</script>
