<div class="content">
  <div class="row justify-content-center">
<h1>Teachers</h1>


<div class="cards-index">
<% @teachers.each do |teacher| %>
<div id="login-container">
  <div class="profile-img"></div>
  <h1>
    <%= teacher.name %>
  </h1>

  <!-- <div class="description">
    Maddie is a front end web developer in New York. She has worked in the field for 10 years now. Check out her projects in the links below. She is available for hire as well.
  </div> -->
  <div class="social">
    <a><%= teacher.price_per_hour %>€/hour</a>
    <a><%= teacher.price_per_hour %></a>
    <a><%= teacher.price_per_hour %></a>
  </div>
  <button><%= link_to "See Profile", teacher_path(teacher)%></button>
</div>
<% end %>


</div>
</div>
  <!-- div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


