<div class="container">
  <div class="content">
    <div class="card-show">
        <%= image_tag @teacher.photo_url %>
      <div class="card-show-info">
        <div>
          <h2><strong><%= @teacher.first_name %> <%= @teacher.last_name %></strong></h2>
            <% @instruments.each do |instrument| %>
              <h5><%= instrument.name.capitalize %></h5>
            <%end %>

            <% @genres.each do |genre| %>
              <p><%= genre.name %></p>
            <%end %>
          <h5>About myself:</h5>
          <p><%= @teacher.description %></p>
          <div class="card-show-price">
            <h6><%= @teacher.price_per_hour %>€/h</h6>
          </div>
        </div>
      </div>
    </div>
      <div class="tab-wrap">

        <!-- active tab on page load gets checked attribute -->
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
        <label for="tab1">Availability</label>

        <input type="radio" id="tab2" name="tabGroup1" class="tab">
        <label for="tab2">Map</label>

        <input type="radio" id="tab3" name="tabGroup1" class="tab">
        <label for="tab3">Experience</label>

        <input type="radio" id="tab4" name="tabGroup1" class="tab">
        <label for="tab4">Media</label>

        <input type="radio" id="tab5" name="tabGroup1" class="tab">
        <label for="tab5">Reviews</label>

        <div class="tab__content"> 
          <div class="form-wrapper" style="width: 400px; margin-bottom: 390px; margin-top: -30px;" data-availabilities="<%= @availabilities.to_json %>" data-santi="banana">
            <%= simple_form_for :search, method: "get" do |f| %>
              <%= f.input :starts_at, as: :string, required: false, label: false, input_html: {class: "datepicker invisible"} %>
    
            <% end %>
          </div>
          <%= simple_form_for(:voucher, url:"/teachers/#{@teacher.id}/vouchers", method:"post") do |f| %>
          <%= hidden_field_tag "teacher_id", @teacher.id %>
            <%= f.input :counter, collection: 1..20, label: false %>
            <%= f.submit "Book now", class: "btn btn-flat" %>
          <% end %>

        </div>

        <div class="tab__content">
          <div id="map"
            style="width: 720px; height: 508px; margin: -25px; margin-right: -60px; margin-top: -16px;"
            data-markers="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

        <div class="tab__content">
          <h4>Experience:</h4>
          <% @instruments.each do |instrument| %>
            <p>plays for: <%= instrument.years_of_experience %> years</p>
            <p><%= instrument.experience %></p>
          <% end %>
        </div>

        <div class="tab__content">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pKwQlm-wldA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="tab__content">
        <h4>Latest reviews:</h4>
         <% @reviews.each do |review| %>
              <p><%= review.content %></p>
          <%end %>
        </div>
      </div>
  </div>

</div>

