<div class="container">
  <div class="row" style="display: flex; padding-top: 16px; padding-bottom: 16px;">
    <div class="col-sm-3" style="text-align: center;">
      <div class="card-product-dashboard">
        <div id="avatar-dashboard" class="avatar-dashboard-align"></div>
        <div class="text-center">
         <div class="banner-dashboard" style="background-image: url('<%= image_path 'banner.jpg' %>');">
         </div>
          <h4>Welcome back!</h4>
          <h4><%= @user.first_name %></h4>
          <hr>
          <h5>Remaining Vouchers</h5>
          <h6> <%= @vouchers.sum {|voucher| voucher.counter } %></h6>
          <hr>
          <h5>Upcoming lessons</h5>
          <% if @timeslots %>
            <% @timeslots[0..2].each do |timeslot| %>
              <%= link_to timeslot.availability.day.strftime("%B %d:") + timeslot.start_time.in_time_zone("Berlin").strftime("%H:%M"), dashboards_path(selected_id: timeslot.id), class: "btn-appointment" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% if @vouchers.length == 0 %>
      <%= link_to "BOOK MORE POINTS", teacher_path(@selected_timeslot.availability.teacher), class: "btn btn-warning btn-book-next-warning btn-book-next-warning-align" %>
    <% else %>
      <%= link_to "BOOK NEW LESSON", teacher_path(@selected_timeslot.availability.teacher), class: "btn btn-book-next btn-book-next-align" %>
    <% end %>
    </div>

    <div class="col-sm-9 text-center" style="padding-left: 25px;">
      <div class="flash-dashboard flash-success-dashboard alert-dashboard alert-dismissible fade show" role="alert-dashboard">
        <span><strong>Yay!</strong> 🎉  You successfully signed up for a new lesson! Happy learning </span>
        <a data-dismiss="alert-dashboard" aria-label="Close">
        <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="tab-wrap-dashboard" style="height: 573px;">
        <div class="tab-dashboard__content-1">
          <%#= image_tag @teacher.photo_url %>
          <div class="tab-dashboard-description">
            <h4><strong>Hi!</strong></h4>
            <p>Ready to hit the tune? My name is <%= @selected_timeslot.availability.teacher.first_name %> and I'm your teacher for learning...Work hard, play hard as you say, so let's get started!🎉 </p>
          </div>
        </div>
        <hr>
        <div class="tab-dashboard__content-1">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 120px; height: 120px;"/>
          <div class="tab-dashboard-description">
            <h4>To-Dos for the appointment</h4>
            <h5>
            <% if @selected_timeslot.homeworks.first %>
              <%= @selected_timeslot.homeworks.first.description %>
              And don't forget your FLASHCARDS!!! ;)
            <% else %>
              <p>No homework :)</p>
            <% end %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
