<div class="container content" style="padding-bottom: 45px;">
  <div class="row" style="width: 100%">
    <div class="col-sm-3">
      <div class="card-product-dashboard" style="display: block; height: 650px;" >
        <div class="text-center">
          <%= image_tag "cartman.jpg", class: "avatar-large", alt: "avatar-large" %>
          <!-- <div class="home-banner" style="display: block; linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'banner.jpg' %>');"> -->
          <h4><%= @user.first_name %></h4>
          <hr>
          <h5>Remaining Appointment Points</h5>
            <%= @vouchers.sum {|voucher| voucher.counter }  %>
        <hr>
          <h5>Upcoming lessons</h5>
          <% @timeslots.each do |timeslot| %>
            <%= link_to timeslot.availability.day.strftime("%B %d:") + timeslot.start_time.in_time_zone("Berlin").strftime("%H:%M"), dashboards_path(selected_id: timeslot.id), class: "btn-appointment" %>
          <% end %>
        <hr>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa"></i> BOOK NEXT LESSON
        </button>
        </div>
      </div>
    </div>

    <div class="col-sm-9 text-center" style="justify-content: space-between;">
      <div class="card-product-dashboard" style="height: 48%; margin-bottom: 20px;" >
        <h4>Homework</h4>
          <% @selected_timeslot.homeworks.each do |homework| %>
          <p> <%= homework.description %> </p>
        <% end %>
      </div>
      <div class="card-product-dashboard" style="height: 50%;">
        <h4>Musicsheets</h4>
      </div>
    </div>
  </div>
</div>
      <!-- </div> -->
      <!-- <div class="col-sm-4"> -->
        <!-- <div class="card-product" style="display: block; height: 560px;" >
        <h4>Chat coming soon</h4>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

