<div class="container content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card-product" style="display: block;" >
        <div class="text-center">
          <%= image_tag "cartman.jpg", class: "avatar-large", alt: "avatar-large" %>
          <h4><%= @user.first_name %></h4>
          <h5>Remaining Vouchers</h5>
          <p> No appointment vouchers available </p>
          <h5>Upcoming lessons</h5>
            <% @timeslots.each do |timeslot| %>
            <%= link_to timeslot.availability.day.strftime("%B %d") %> <%= link_to timeslot.start_time.in_time_zone("Berlin").strftime("%H:%M"), dashboards_path(selected_id: timeslot.id) %>
          <% end %>
          <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa"></i> BOOK NEXT LESSON
          </button>
        </div>
      </div>
    </div>


    <div class="col-sm-9 d-flex text-center" style="justify-content: space-between;">
      <div class="col-sm-6">
        <div class="card-product" style="display: block;" >
          <h4>Homework</h4>
          <% @selected_timeslot.homeworks.each do |homework| %>
            <p> <%= homework.description %> </p>
          <% end %>
        </div>
        <div>
          <div class="card-product">
            <img src="https://unsplash.com/photos/I0yLAcAetNQ" />
            <div class="card-product-infos">
              <h4>Sheets</h4>
              <p> No sheets uploaded yet </p>
              <!-- homework.files.each do |file|
              end -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-product" style="display: block;" >
        <h4>Chat comming soon</h4>
        </div>
      </div>
    </div>
  </div>
</div>
