<div class="container">
  <div class="row" style="display: flex; padding-top: 16px; padding-bottom: 16px;">
    <div class="col-sm-3" style="text-align: center;">
    <!--   <div class="left"> -->
      <div class="card-product-dashboard">
        <div id="avatar-dashboard" class="avatar-dashboard-align"></div>
        <div class="text-center">
         <div class="banner-dashboard" style="background-image: url('<%= image_path 'banner.jpg' %>');">
         </div>
          <h4>Welcome back!</h4>
          <h4><%= @user.first_name %></h4>
          <hr>
          <h5>Remaining Appointment Points</h5>
            <%= @vouchers.sum {|voucher| voucher.counter }  %>
          <hr>
          <h5>Upcoming lessons</h5>
          <% @timeslots.each do |timeslot| %>
            <%= link_to timeslot.availability.day.strftime("%B %d:") + timeslot.start_time.in_time_zone("Berlin").strftime("%H:%M"), dashboards_path(selected_id: timeslot.id), class: "btn-appointment" %>
          <% end %>
        </div>
      </div>
    </div>
    <% if @vouchers.length == 0 %>
      <%= link_to "BOOK MORE POINTS", teacher_path(@teacher), class: "btn btn-warning" %>
    <% else %>
      <%= link_to "BOOK NEW LESSON", teacher_path(@teacher), class: "btn btn-book-next btn-book-next-align" %>
    <% end %>
  <!-- </div> -->

    <div class="col-sm-9 text-center" style="padding-left: 25px;">
<!--       <div class="flash-dashboard flash-success-dashboard alert alert-dashboard alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉  You successfully signed up for a new teacher! Happy learning </span>
        <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
        </a>
      </div> -->

      <div class="tab-wrap-dashboard" style="height: 573px;">
        <!-- active tab on page load gets checked attribute -->
        <% @teachers.each_with_index do |teacher, index| %>
          <input type="radio" id="tab<%=index%>" name="tabGroup<%=index%>" class="tab-dashboard">
          <label for="tab<%=index%>"><%=teacher.first_name%></label>
        <% end %>
        <div class="tab-dashboard__content-1">
          <!-- <a hrf="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" download> -->
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <!-- </a> -->
          <div class="tab-dashboard-description">
            <h4>To-Dos</h4>
            <%= @selected_timeslots.homeworks.first %>
            <h6>And don't forget your FLASHCARDS!!! ;)</h6>
          </div>
        </div>
    <!--     <hr>
        <div class="tab-dashboard__content-2">
          <h4>Create a Review</h4>
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div> -->
      </div>
    </div>
  </div>
</div>

